:root {
  color-scheme: dark;
  --surface:   #1e1d23;
  --bg:        #1a191e;
  --shade:     #29292E;
  --dark:      #524a51;

  --fg:        #aca9c2;
  --fg-invert: #ded7d0;
  --code:      #887c65;
}
