@import url("giallo-light.css");

:root {
    color-scheme: light;
    --surface:   #d6d0b8;
    --bg:        #c6c1aa;
    --shade:     #b4af9a;
    --dark:      #4b483f;

    --fg:        #46433a;
    --fg-invert: #cdc7b0;
    --code:      #887c65;

    --red: #c4746e;
    --green: #6E915F;
    --yellow: #de9800;
    --blue: #5d57a3;
    --magenta: #a292a3;
}
