:root {
  font-size: clamp(14px, 2vw, 17px);
  font-family: Roboto, Helvetica, sans-serif;

  background-color: var(--bg);
  color: var(--fg);
}

html {
  scrollbar-color: var(--shade) var(--bg);
}

a {
  color: inherit;
}

#nav_margin {
  flex-wrap: nowrap;

  height: 100%;
  max-width: 800px;
  margin: 0px auto;
  margin-top: 24px;

  .flatbutton {
    min-width: clamp(48px, 15vw, 100px);
  }

  @media screen and (max-width: 800px) {
    max-width: 100%;
    margin: 0 1vw;
    margin-top: 24px;
  }
}

button {
  border: none;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0px;
  margin: 0px;
}

.icon {
  width: clamp(15px, 3vw, 24px);
  height: clamp(15px, 3vw, 24px);
}

.auto, .moon, .sun {
  display: none;
}

.margin {
  margin: 8px;
}

.no_margin {
  margin: 0;
}

.margin_below {
  margin: 0px;
  margin-bottom: 8px;
}

.margin_bottom-large {
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

.text-light {
  color: var(--surface);
}

.text-monospace {
  line-height: 1;
  white-space: pre;
  font-family: monospace;
}

.align_self_end {
  margin-left: auto;
  margin-right: 1%;
}

.widen {
  width: 36%;
}

.content {
  height: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding-bottom: 8%;

  @media screen and (max-width: 800px) {
    max-width: 100%;
    margin: 0 1vw;
  }
}

.content-center {
  display: grid;
  min-height: 80vh;
  place-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.column-gap {
  gap: 16px;
}

.row {
  display: flex;

  align-items: center;
  justify-content: center;
  width: auto;
}

.row-wrap {
  flex-wrap: wrap
}

.row_item-grow {
  flex: 1 0 auto;
}

.row-gap {
  gap: clamp(6px, 2vw, 20px);
}

.row-stretch {
  align-items: stretch;
}

.row-start {
  justify-content: flex-start;
}

.row-end {
  align-items: flex-end;
}

.flatbutton {
  font-size: clamp(8px, 2.5vw, 15px);

  position: relative;
  padding: 2px 4px;

  text-decoration: none;
  background-color: var(--shade);
}

.flatbutton:hover {
  background-color: var(--dark);
  color: var(--surface);
  outline: 1px dash var(--dark);

  .square_icon {
    background: var(--surface);
  }
}

.flatbutton:hover:before {
  content: '';
  top: -4px;
  bottom: -4px;
  border: solid var(--dark);
  border-width: 0.1rem 0;

  position: absolute;
  left: 0;
  right: 0;
}

.flatbutton-minwidth {
  min-width: 156px;
}

.flatbutton-minwidth-larger {
  min-width: 168px;
}

.flatbutton-minwidth-largest {
  min-width: 284px;
}

.square {
  margin: 0px 4px;
  width: 4px;
  height: 4px;
  background: var(--shade);
}

.square_icon {
  display: inline-block;
  width: clamp(5px, 2.5vw, 15px);
  height: clamp(5px, 2.5vw, 15px);

  background: var(--fg);
  margin-right: 4px;
  margin-left: 2px;
}

.hline {
  width: 100%;
  height: 0px;
  border: 1px solid var(--shade);
}

.hline-dark {
  border: 1px solid var(--dark);
}

.hline-margin_bottom {
  margin-bottom: 12px;
}

.hline-margin_top {
  margin-top: 12px;
}

.medium_spacer {
  background-color: var(--shade);
  height: 100%;
  width: 8px;
}

.small_spacer {
  background-color: var(--shade);
  height: 100%;
  width: 2px;
}

.surface {
  background-color: var(--surface);
  min-width: 256px;
}

.surface-pad {
  padding: 4px 12px;
}

.surface-text {
  padding-left: 8px;
  padding-right: 12px;
}

.surface-text-padvert {
  padding-top: 12px;
  padding-bottom: 12px;
}

.surface-shadow {
  box-shadow: 4px 4px 0px var(--shade);
}

.shade {
  background-color: var(--shade);
}

.dark {
  background-color: var(--dark);
}

.header {
  padding: 4px 12px;
  background-color: var(--dark);
  color: var(--fg-invert);
}

.bar {
  width: 30px;
  background-color: var(--dark);
}

.bar-text {
  transform: rotate(55deg);
  text-align: center;
  width: 30px;
}

[aria-current="page"] {
  background-color: var(--dark);
  color: var(--surface);
  outline: 1px dash var(--dark);

  .square_icon {
    background: var(--surface);
  }
}

#title-block-header {
  margin-top: 8%;
}

.title {
  /* font-size: 150%; */
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.abstract {
  margin: 24px 0px;
  font-size: 125%;
}

h2 {
  margin-top: 3rem;
}

p,
dl,
ol,
ul {
  line-height: 1.7rem;
}

p {
  font-family: serif;
  margin-top: 1rem;
}

code,
pre,
kbd {
  font-family: monospace;
  line-height: 1.5rem;
  font-size: 100%;
  hyphens: none;
  color: var(--code);
}
pre {
  padding: 1rem;
  max-width: 100%;
  overflow: auto;
  background: var(--shade);
}
pre code {
  color: var(--fg);
  font-size: 85%;
  position: relative;
}

.sourceCode {
  background: var(--shade);
  scrollbar-color: var(--dark) var(--shade);
}
