<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="color-scheme" content="light dark">
    <title>wisp's blog</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    <script src="{{ get_url(path="dark.js") }}"></script>
    <script type="module" src="{{ get_url(path="main.min.js") }}"defer></script>
  </head>
  <body>
  {% block body %} {% endblock body %}
  </body>
</html>
