{% extends "base-navbar.html" %}

{% block content %}
<main class="content">
  <h1>{{ section.title }}</h1>
  <div class="margin_bottom-large">
    Short form notes I have written for myself through org-roam. They are
    basically like a personal wiki which tracks my thought process through a
    topic. These are all the index pages.
  </div>

  <div class="column">
    <div class="row row-start row-stretch row-gap">
      <div class="row">
	<div class="medium_spacer space_navbar"></div>
	<div>&nbsp;</div>
	<div class="small_spacer space_navbar"></div>
      </div>
      <div class="column column-gap column-expand">
	{% set index_tag = get_taxonomy_term(kind="tags", term="index") %}
	{% for page in index_tag.pages %}
	<a class="flatbutton" href="{{ page.permalink | safe }}">
	  <div class="row row-start"><div class="square_icon">
	  </div>{{ page.title }}<div class="align_self_end">{{ page.date }}</div></div>
	</a>
	{% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock content %}
