{% extends "base.html" %}

{% block content %}
  <h1>{{ section.title }}</h1>
  Short form notes I have written for myself. These are usually intros to
  topics I am learning and are rather incomplete and probably incorrect. 

  <div class="column">
    <div class="row row-start row-stretch row-gap">
      <div class="row">
	<div class="medium_spacer space_navbar"></div>
	<div>&nbsp;</div>
	<div class="small_spacer space_navbar"></div>
      </div>
      <div class="column column-gap">
	{% for page in section.pages %}
	<a class="flatbutton flatbutton-minwidth-largest" href="{{ page.permalink | safe }}">
	  <div class="row row-start"><div class="square_icon">
	  </div>{{ page.title }}<div class="align_self_end">{{ page.date }}</div></div>
	</a>
	{% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
